.wrapper{
  display: flex;
}

.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-bar-header{
  height: 100px;
  padding: 20px;
}
.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px;
}


.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 40px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}